{% extends 'layout.twig' %}

{% block content %}
    <main class="landing">
        <h2><i class="material-icons">pets</i> Wakadog</h2>
        <p>Twój psiak siedzi w domu oczekując długo nie widzianego spaceru, na który nie masz czasu go zabrać? Dzięki Wakadog znajdziesz osoby chcące wyprowadzić Twojego psa!</p>
        {% if isLoggedIn() %}
            <a href="{{ path_for('dog.map') }}" class="btn-large waves-effect blue">Przejdź do psiaków</a>
        {% else %}
            <a href="{{ path_for('user.signUp') }}" class="btn-large waves-effect blue">Załóż konto</a>
        {% endif %}
    </main>
{% endblock %}