<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title 'Wakadog' %}</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ base_url() }}/assets/style.css">
    </head>
    <body class="{{ bodyClasses }}">
        {% block body %}
            {% include 'parts/header.twig' %}
            {% block content '' %}
            {% include 'parts/footer.twig' %}
        {% endblock %}
        {% block scripts %}
            <script src="{{ base_url() }}/assets/jquery.min.js"></script>
            <script src="{{ base_url() }}/assets/materialize.min.js"></script>
            <script>
                jQuery('.hamburger').sideNav();
                jQuery('.dropdown-button').dropdown({
                    hover: true
                });

                {% for toast in toasts %}
                    Materialize.toast('{{ toast }}', 5000);
                {% endfor %}
            </script>
        {% endblock %}
    </body>
</html>