.dog-form {
	@extend .row;

	h3 {
		padding: 0 .75rem;
	}

	.field {
        @extend .input-field, .col, .m6;

		@media #{$small-and-down} {
			width: 100%;
		}

		input {
			@extend .validate;
		}
	}

	.map {
		width: calc(100% - 1.5rem);
		margin: 0 .75rem 20px;
		padding: 0;
	}
}