.landing {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: url('images/landing-background.jpg') center 75%/cover;
    color: #fff;

    h2 {
        margin: 15vh 0 30px;
        font-size: calc(2rem + 5vw);
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);

        i {
            @extend .left;
            font-size: inherit;
        }
    }

    p {
        max-width: 960px;
        font-size: calc(1.5rem + .5vw);
        text-align: center;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    }
}