.main {
	@extend .container;
	flex: 1 0 auto;
	padding-bottom: 20px;

	h3 {
		font-size: 2rem;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.dog-card {
		@extend .card;

		header {
			@extend .card-image;

			h3 {
				@extend %hidden;
			}
		}

		.content {
			@extend .card-content;

			p:not(:first-child) {
				margin-top: 15px;
			}
		}
	}

	.horizontal-dog-card {
		@extend .horizontal, .card;
		transition: .3s box-shadow;

		@media #{$small-and-down} {
			display: block;
		}

		&.hover {
			@extend .z-depth-2;
		}

		.image {
			@extend .card-image;

			@media #{$small-and-down} {
				max-width: initial;
			}
		}

		.content {
			@extend .card-content;

			@media #{$medium-and-up} {
				width: 50%;
			}

			h3, p {
				margin: 0 0 5px;
			}

			.data {
				margin-bottom: 20px;

				td {
					padding: 5px 15px;
				}
			}
		}
	}

	.data {
		@extend .striped, .bordered;

		td {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.rating {
		@extend .striped;

		td:first-child {
			width: 100%;
			padding-left: 15px;
			vertical-align: middle;
		}

		td:last-child {
			@extend .amber-text;
			padding-right: 15px;
			white-space: nowrap;
		}
	}

	.actions {
		@extend .right;
		padding-top: 20px;

		form {
			display: inline;
		}
	}
}