.map {
    max-height: 100vh;
    height: 250px;
}

.map-page {
    .fixed-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;

        .map {
            max-height: 50vh;
            height: 50vh;
        }

        ~ #sidenav-overlay {
            z-index: 1;
        }
    }

    .main {
        margin-top: calc(50vh + 64px);
    }
}