.page-header {
    @extend nav;

    > div {
        @extend .nav-wrapper, .container;

        .logo {
            @extend .brand-logo;

            h1 {
                margin: 0;
                font-size: inherit;
                line-height: inherit;
            }

            i {
                @extend .left;
                line-height: inherit;
            }
        }

        .hamburger {
            @extend .button-collapse;
        }

        nav {
            box-shadow: none;

            .nav {
                @extend .right, .hide-on-med-and-down;

                i {
                    line-height: inherit;
                }

                ul {
                    @extend .dropdown-content;
                }
            }

            .side-nav {
                @extend .side-nav;
            }
        }
    }
}