.rating-modal {
    @extend .modal;

    .rating-output {
        @extend .amber-text, .center;

        .material-icons {
            font-size: 2.4rem;
        }
    }

    footer {
        @extend .modal-footer;

        button {
            margin-left: 5px !important;
        }
    }
}