.sign-in, .sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        @extend .card-panel;
        width: 100%;
        max-width: 400px;

        h2 {
            margin-top: 0;
            font-size: 2rem;
        }

        div {
            @extend .input-field;
        }
    }
}