@import 'variables';

@import '../../node_modules/materialize-css/sass/materialize';

@import 'extends';

@import 'page-header';
@import 'landing';
@import 'map';
@import 'main';
@import 'rating-modal';
@import 'dog-form';
@import 'sign-forms';
@import 'error';
@import 'footer';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}