{% extends 'layout.twig' %}

{% set menu = 'dashboard' %}

{% block body %}
    {% include 'parts/header.twig' %}
    <main class="main" role="main">
        {% for dog in user.dogs %}
            <div class="horizontal-dog-card">
                <div class="image">
                    <img src="{{ dog.imageUrl }}" alt="Zdjęcie psiaka {{ dog.name }}">
                </div>
                <div class="content">
                    <h3>{{ dog.name }}</h3>
                    {% include 'parts/dog/dog-data.twig' %}
                    <p><a href="{{ path_for('dog.dog', {'id': dog.id}) }}" class="btn waves-effect blue">Więcej</a></p>
                </div>
            </div>
        {% else %}
            <p class="center">Nie masz żadnych psów! Może chcesz jakiegoś dodać?</p>
            <p class="center"><a href="{{ path_for('dog.add') }}" class="btn waves-effect blue">
                Dodaj psiaka
                <i class="material-icons left">add</i>
            </a></p>
        {% endfor %}
    </main>
    {% include 'parts/footer.twig' %}
{% endblock %}