{% extends 'layout.twig' %}

{% block content %}
    <div class="map" id="map" data-latitude="{{ dog.latitude }}" data-longitude="{{ dog.longitude }}"></div>
    <main class="main" role="main">
        <div class="header">
            <h2>{{ dog.name }}</h2>
            {% if dog.owner == user %}
                <a href="{{ path_for('dog.edit', {id: dog.id}) }}" class="btn waves-effect green">Edytuj</a>
            {% endif %}
        </div>
        <div class="row">
            <div class="col m6">
                <section class="dog-card">
                    <header>
                        <img src="{{ dog.imageUrl }}" alt="Zdjęcie psa {{ dog.name }}">
                        <h3>O psie</h3>
                    </header>
                    <div class="content">
                        {{ dog.about|raw }}
                    </div>
                </section>
            </div>
            <div class="col m6">
                <h3>Informacje o wyprowadzaniu</h3>
                <table class="data">
                    <tr>
                        <td>Właściciel</td>
                        <td>{{ dog.owner.visibleName }}</td>
                    </tr>
                    <tr>
                        <td>Numer telefonu</td>
                        <td>{{ dog.phone|split('', 3)|join(' ') }}</td>
                    </tr>
                </table>
                <h3>Informacje o psiaku</h3>
                {% include 'parts/dog/dog-data.twig' %}
            </div>
        </div>
        <div class="header">
            <h3>Ostatnie oceny</h3>
            {% if isLoggedIn() and user != dog.owner %}
                {% include 'parts/dog/rating-modal.twig' %}
                <button class="btn waves-effect blue" id="add-rating">
                    Dodaj ocenę
                    <i class="material-icons left">add</i>
                </button>
            {% endif %}
        </div>
        <table class="rating">
            <thead>
                <tr>
                    <th>Wyprowadzacz</th>
                    <th>Ocena</th>
                </tr>
            </thead>
            <tbody>
                {% for rating in ratings %}
                    <tr>
                        <td>
                            {{ rating.author.visibleName }}
                            {% if rating.author == user or user.role.can('moderate.removeRatings') %}
                                <form action="{{ path_for('rating.remove', {id: rating.id}) }}" class="right" method="post">
                                    <input type="hidden" name="_METHOD" value="DELETE">
                                    <input type="submit" class="btn-flat waves-effect" value="Usuń ocenę">
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            {% for i in 1..5 %}
                                {% if i <= rating.rating %}
                                    <i class="material-icons">star</i>
                                {% else %}
                                    <i class="material-icons">star_border</i>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="actions">
            {% if user.role.can('moderate.banUsers') and dog.owner.role.name != 'mod' %}
                {% include 'parts/dog/ban-modal.twig' %}
                <button class="btn waves-effect red darken-2" id="ban-user">
                    Zbanuj użytkownika
                    <i class="material-icons left">block</i>
                </button>
            {% endif %}
            {% if dog.owner == user or user.role.can('moderate.removeDogs') %}
                {% include 'parts/dog/remove-modal.twig' %}
                <button class="btn waves-effect red" id="remove-dog">
                    Usuń psiaka
                    <i class="material-icons left">delete</i>
                </button>
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        var $addRatingButton = $('#add-rating');
        var $addRatingModal = $('#rating-modal');

        $addRatingButton.on('click', function() {
            $addRatingModal.openModal();
        });

        var $removeDogButton = $('#remove-dog');
        var $removeDogModal = $('#remove-modal');
        var $closeRemoveModal = $('#close-remove');

        $removeDogButton.on('click', function() {
            $removeDogModal.openModal();
        });

        $closeRemoveModal.on('click', function() {
            $removeDogModal.closeModal();
        });

        var $banUserButton = $('#ban-user');
        var $banUserModal = $('#ban-modal');
        var $closeBanModal = $('#close-ban');

        $banUserButton.on('click', function() {
            $banUserModal.openModal();
        });

        $closeBanModal.on('click', function() {
            $banUserModal.closeModal();
        });

        var $ratingRange = $('#rating');
        var $ratingOutput = $('.rating-output');

        $ratingRange.on('input', function() {
            for (var i = 0; i < 6; i++) {
                $ratingOutput.children().eq(i).html(function() {
                    var iterationValue = i+1;
                    if ($ratingRange.val() >= iterationValue) return 'star';

                    return 'star_border';
                });
            }
        });

        function initMap() {
            var $map = $('#map');
            var position = new google.maps.LatLng(parseFloat($map.data('latitude')), parseFloat($map.data('longitude')));

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: position,
                draggable: false,
                scrollwheel: false,
                streetViewControl: false,
                mapTypeControl: false,
                disableDoubleClickZoom: true
            });

            new google.maps.Marker({
                position: position,
                map: map
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&callback=initMap" async defer></script>
{% endblock %}