{% extends 'layout.twig' %}

{% block content %}
    <main class="main">
        <div class="header">
            <h2>Edytuj psiaka</h2>
            <a href="{{ path_for('dog.dog', {id: dog.id}) }}" class="btn waves-effect green">Powrót bez zapisywania</a>
        </div>
        <form action="{{ path_for('dog.update', {id: dog.id}) }}" class="dog-form" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_METHOD" value="PATCH">
            {% include 'parts/dog/form.twig' %}
            <input type="submit" class="btn btn-large waves-effect blue" value="Zaktualizuj psiaka">
        </form>
    </main>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $('select').material_select();
        $('textarea').characterCounter();

        function initMap() {
            var $coordinatesField = $('#coordinates');
            var latLng = $coordinatesField.val().replace(' ', '').split(',');
            var position = { lat: parseFloat(latLng[0]), lng: parseFloat(latLng[1]) };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: position ? position : { lat: 54.716621, lng: 18.410140 },
                streetViewControl: false,
                mapTypeControl: false
            });

            var coordinatesMarker = null;

            // Change coordinates on marker move
            google.maps.event.addListener(map, 'click', function(e) {
                $coordinatesField.val(e.latLng.lat() + ', ' + e.latLng.lng());
                Materialize.updateTextFields();

                coordinatesMarker && coordinatesMarker.setMap(null);

                coordinatesMarker = new google.maps.Marker({
                    position: e.latLng,
                    map: map
                });
            });

            var repositionMarkerFunction = function() {
                coordinatesMarker && coordinatesMarker.setMap(null);
                coordinatesMarker = new google.maps.Marker({
                    position: position,
                    map: map
                });

            };
            repositionMarkerFunction();

            // Reposition marker on coordinates change
            $coordinatesField.on('click', repositionMarkerFunction);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&callback=initMap" async defer></script>
{% endblock %}
