{% extends 'layout.twig' %}

{% set menu = 'map' %}
{% set bodyClasses = 'map-page' %}

{% block body %}
    <div class="fixed-container">
        {% include 'parts/header.twig' %}
        <div class="map" id="map"></div>
    </div>
    <main class="main row" role="main">
        {% for dog in dogs %}
            <div class="col m6">
                <div class="horizontal-dog-card" data-id="{{ dog.id }}" data-lat="{{ dog.latitude }}" data-lng="{{ dog.longitude }}">
                    <div class="image">
                        <img src="{{ dog.imageUrl }}" alt="Zdjęcie psiaka {{ dog.name }}">
                    </div>
                    <div class="content">
                        <h3>{{ dog.name }}</h3>
                        <p><button class="btn waves-effect blue showOnMap">Pokaż na mapie</button></p>
                        <p><a href="{{ path_for('dog.dog', {'id': dog.id}) }}" class="btn waves-effect blue">Więcej</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
    {% include 'parts/footer.twig' %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        function initMap() {
            var markerData = [
                {% for dog in dogs %}
                    { id: {{ dog.id }}, lat: {{ dog.latitude }}, lng: {{ dog.longitude }}, url: '{{ path_for('dog.dog', {'id': dog.id}) }}' },
                {% endfor %}
            ];

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: { lat: 54.716621, lng: 18.410140 },
                disableDefaultUI: true
            });

            jQuery.each(markerData, function (index, markerData){
                var marker = new google.maps.Marker({
                    position: markerData,
                    map: map,
                    label: String.fromCharCode(65 + index)
                });

                google.maps.event.addListener(marker, 'click', function() {
                    window.location = markerData.url;
                });

                var $dogCard = $('[data-id="' + markerData.id +  '"]');

                google.maps.event.addListener(marker, 'mouseover', function() {
                    $dogCard.addClass('hover');
                });
                google.maps.event.addListener(marker, 'mouseout', function() {
                    $dogCard.removeClass('hover');
                });
            });

            var $showOnMapButton = $('.showOnMap');

            $showOnMapButton.on('click', function() {
                var $card = $(this).parent().parent().parent();

                var center = {
                    lat: parseFloat($card.data('lat')),
                    lng: parseFloat($card.data('lng'))
                };

                map.setCenter(center);
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&callback=initMap" async defer></script>
{% endblock %}