{% extends 'layout.twig' %}

{% set menu = 'settings' %}

{% block content %}
    <main class="main">
        <h2>Ustawienia konta</h2>
        <form action="{{ path_for('user.updateSettings') }}" method="post">
            <h3>Dane konta</h3>
            {% for error in errors.visibleName %}
                <p class="error">{{ error.message }}</p>
            {% endfor %}
            <div class="input-field">
                <input type="text" name="visible_name" id="visible_name" value="{{ user.visibleName }}" required>
                <label for="visible_name">Widoczna nazwa</label>
            </div>
            <input type="submit" class="btn waves-effect blue" value="Zaktualizuj dane">
        </form>
        <form action="{{ path_for('user.changePassword') }}" method="post">
            <h3>Zmiana hasła</h3>
            {% for error in errors.oldPassword %}
                <p class="error">{{ error.message }}</p>
            {% endfor %}
            <div class="input-field">
                <input type="password" name="old_password" id="old_password" required>
                <label for="old_password">Stare hasło</label>
            </div>
            {% for error in errors.newPassword %}
                <p class="error">{{ error.message }}</p>
            {% endfor %}
            <div class="input-field">
                <input type="password" name="password" id="password" required>
                <label for="password">Nowe hasło</label>
            </div>
            {% for error in errors.confirmNewPassword %}
                <p class="error">{{ error.message }}</p>
            {% endfor %}
            <div class="input-field">
                <input type="password" name="confirm_password" id="confirm_password" required>
                <label for="confirm_password">Powtórz nowe hasło</label>
            </div>
            <input type="submit" class="btn waves-effect blue" value="Zmień hasło">
        </form>
        <form action="{{ path_for('user.deleteAccount') }}" method="post">
            <input type="hidden" name="_METHOD" value="DELETE">
            <h3>Usuwanie konta</h3>
            <input type="submit" class="btn waves-effect red darken-4" value="Usuń konto">
        </form>
    </main>
{% endblock %}
