{% extends 'layout.twig' %}

{% set menu = 'signIn' %}

{% block content %}
    <main class="main sign-in">
        <form action="{{ path_for('user.authenticate') }}" method="post">
            <h2>Zaloguj się</h2>
            {% if error is not empty %}
                <p class="error">{{ error|first }}</p>
            {% endif %}
            <div>
                <input type="email" name="email" id="email" value="{{ old.email }}" autofocus required>
                <label for="email">Adres email</label>
            </div>
            <div>
                <input type="password" name="password" id="password" required>
                <label for="password">Hasło</label>
            </div>
            <p><input type="submit" class="btn waves-effect blue" value="Zaloguj się"></p>
        </form>
        <p class="center"><a href="{{ path_for('user.signUp') }}">Nie masz konta? Zarejestruj się</a></p>
    </main>
{% endblock %}
