{% extends 'layout.twig' %}

{% set menu = 'signUp' %}

{% block content %}
    <main class="main sign-up">
        <form action="{{ path_for('user.signUp') }}" method="post">
            <h2>Załóż konto</h2>
            {% for error in errors.email %}
                <p class="error">{{ error.message }}</p>
            {% endfor %}
            <div>
                <input type="email" name="email" id="email" value="{{ old.email }}" required>
                <label for="email">Adres email</label>
            </div>
            {% for error in errors.visibleName %}
                <p class="error">{{ error.message }}</p>
            {% endfor %}
            <div>
                <input type="text" name="visible_name" id="visible_name" value="{{ old.visibleName }}" required>
                <label for="visible_name">Nazwa wyświetlana</label>
            </div>
            {% for error in errors.password %}
                <p class="error">{{ error.message }}</p>
            {% endfor %}
            <div>
                <input type="password" name="password" id="password" required>
                <label for="password">Hasło</label>
            </div>
            {% for error in errors.confirmPassword %}
                <p class="error">{{ error.message }}</p>
            {% endfor %}
            <div>
                <input type="password" name="confirm_password" id="confirm_password" required>
                <label for="confirm_password">Powtórz hasło</label>
            </div>
            <p><input type="submit" class="btn waves-effect blue" value="Załóż konto"></p>
        </form>
        <p class="center"><a href="{{ path_for('user.signIn') }}">Masz już konto? Zaloguj się</a></p>
    </main>
{% endblock %}
