<header class="page-header" role="banner">
    <div>
        <a href="{{ path_for('landing') }}" class="logo">
            <h1><i class="material-icons">pets</i> Wakadog</h1>
        </a>
        <a href="#" data-activates="mobile-sidebar" class="hamburger">
            <i class="material-icons">menu</i>
        </a>
        <nav>
            <ul class="nav">
                <li{{ menu is defined and menu == 'add' ? ' class="active"' : '' }}>
                    <a href="{{ path_for('dog.add') }}">Dodaj psiaka</a>
                </li>
                {% if isLoggedIn() %}
                    <li{{ menu is defined and menu == 'dashboard' ? ' class="active"' : '' }}>
                        <a href="{{ path_for('dog.dashboard') }}">Twoje psiaki</a>
                    </li>
                {% endif %}
                <li{{ menu is defined and menu == 'map' ? ' class="active"' : '' }}>
                    <a href="{{ path_for('dog.map') }}">Mapa psiaków</a>
                </li>
                <li>
                    <a href="#0" class="dropdown-button" data-activates="account-dropdown">
                        <i class="material-icons right">arrow_drop_down</i>
                        {% if isLoggedIn() %}
                            Moje konto ({{ user.visibleName }})
                        {% else %}
                            Moje konto
                        {% endif %}
                    </a>
                    <ul id="account-dropdown">
                        {% if isLoggedIn() %}
                            <li{{ menu is defined and menu == 'settings' ? ' class="active"' : '' }}><a href="{{ path_for('user.settings') }}">Ustawienia</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path_for('user.signOut') }}">Wyloguj się</a></li>
                        {% else %}
                            <li><a href="{{ path_for('user.signIn') }}">Zaloguj się</a></li>
                            <li><a href="{{ path_for('user.signUp') }}">Zarejestruj się</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-sidebar">
                <li{{ menu is defined and menu == 'add' ? ' class="active"' : '' }}>
                    <a href="{{ path_for('dog.add') }}">Dodaj psiaka</a>
                </li>
                {% if isLoggedIn() %}
                    <li{{ menu is defined and menu == 'dashboard' ? ' class="active"' : '' }}>
                        <a href="{{ path_for('dog.dashboard') }}">Twoje psiaki</a>
                    </li>
                {% endif %}
                <li{{ menu is defined and menu == 'map' ? ' class="active"' : '' }}>
                    <a href="{{ path_for('dog.map') }}">Mapa psiaków</a>
                </li>
                <li class="divider"></li>
                {% if isLoggedIn() %}
                    <li{{ menu is defined and menu == 'settings' ? ' class="active"' : '' }}><a href="{{ path_for('user.settings') }}">Ustawienia</a></li>
                    <li><a href="{{ path_for('user.signOut') }}">Wyloguj się</a></li>
                {% else %}
                    <li{{ menu is defined and menu == 'signIn' ? ' class="active"' : '' }}><a href="{{ path_for('user.signIn') }}">Zaloguj się</a></li>
                    <li{{ menu is defined and menu == 'signUp' ? ' class="active"' : '' }}><a href="{{ path_for('user.signUp') }}">Zarejestruj się</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>