<div class="rating-modal" id="ban-modal" role="dialog">
    <form action="{{ path_for('user.ban', {id: dog.owner.id}) }}" method="post">
        <div class="modal-content">
            <h4>Banowanie użytkownika</h4>
            <p>Czy na pewno chcesz zbanoważ użytkownika {{ dog.owner.visibleName }}?</p>
        </div>
        <footer>
            <button type="button" class="btn waves-effect blue" id="close-ban">Powrót bez banowania</button>
            <button type="submit" class="btn waves-effect red darken-2">
                Zbanuj
                <i class="material-icons left">block</i>
            </button>
        </footer>
    </form>
</div>