<table class="data">
    <tr>
        <td>Średnia ocen</td>
        <td class="amber-text">
            {% for i in 1..5 %}
                {% if i <= dog.averageRating %}
                    <i class="material-icons">star</i>
                {% else %}
                    <i class="material-icons">star_border</i>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Rasa</td>
        <td>{{ dog.breed }}</td>
    </tr>
    <tr>
        <td>Potrzebuje ruchu</td>
        {% if dog.activityNeed is constant('ACTIVITY_NEED_SMALL', dog) %}
            <td>Mało</td>
        {% elseif dog.activityNeed is constant('ACTIVITY_NEED_MODERATE', dog) %}
            <td>Umiarkowanie</td>
        {% elseif dog.activityNeed is constant('ACTIVITY_NEED_BIG', dog) %}
            <td>Dużo</td>
        {% endif %}
    </tr>
    <tr>
        <td>Szczepiony</td>
        {% if dog.vaccinated %}
            <td class="green-text">Tak</td>
        {% else %}
            <td class="red-text">Nie</td>
        {% endif %}
    </tr>
    <tr>
        <td>Stosunek do ludzi</td>
        {% if dog.humansRelations is constant('RELATIONS_FRIENDLY', dog) %}
            <td class="green-text">Przyjazny</td>
        {% elseif dog.humansRelations is constant('RELATIONS_NEUTRAL', dog) %}
            <td class="grey-text">Neutralny</td>
        {% elseif dog.humansRelations is constant('RELATIONS_AGGRESSIVE', dog) %}
            <td class="red-text">Agresywny</td>
        {% endif %}
    </tr>
    <tr>
        <td>Stosunek do zwierząt</td>
        {% if dog.animalsRelations is constant('RELATIONS_FRIENDLY', dog) %}
            <td class="green-text">Przyjazny</td>
        {% elseif dog.animalsRelations is constant('RELATIONS_NEUTRAL', dog) %}
            <td class="grey-text">Neutralny</td>
        {% elseif dog.animalsRelations is constant('RELATIONS_AGGRESSIVE', dog) %}
            <td class="red-text">Agresywny</td>
        {% endif %}
    </tr>
    <tr>
        <td>Może być spuszczany ze smyczy</td>
        {% if dog.without_dog_lead %}
            <td class="green-text">Tak</td>
        {% else %}
            <td class="grey-text">Nie</td>
        {% endif %}
    </tr>
</table>