<h3>Informacje o psiaku</h3>
{% for error in errors.name %}
    <p class="error">{{ error.message }}</p>
{% endfor %}
{% for error in errors.breed %}
    <p class="error">{{ error.message }}</p>
{% endfor %}
<div class="field">
    <input type="text" name="name" id="name" class="validate" value="{{ old.name ?: dog.name }}" required>
    <label for="name">Imię psiaka</label>
</div>
<div class="field">
    <input type="text" name="breed" id="breed" class="validate" value="{{ old.breed ?: dog.breed }}" required>
    <label for="breed">Rasa psiaka</label>
</div>
{% for error in errors.activityAmount %}
    <p class="error">{{ error.message }}</p>
{% endfor %}
{% for error in errors.humanRelations %}
    <p class="error">{{ error.message }}</p>
{% endfor %}
<div class="field">
    <select name="activity_amount" id="activity_amount" class="validate" required>
        <option value="" disabled selected>Wybierz którąś z opcji</option>
        <option value="0" {{ (old.activityAmout ?: dog.activityNeed) == 0 ? 'selected' : '' }}>Mało</option>
        <option value="1" {{ (old.activityAmout ?: dog.activityNeed) == 1 ? 'selected' : '' }}>Umiarkowanie</option>
        <option value="2" {{ (old.activityAmout ?: dog.activityNeed) == 2 ? 'selected' : '' }}>Dużo</option>
    </select>
    <label for="activity_amount" class="active">Potrzebuje ruchu</label>
</div>
<div class="field">
    <select name="human_relations" id="human_relations" class="validate" required>
        <option value="" disabled selected>Wybierz którąś z opcji</option>
        <option value="0" {{ (old.humanRelation ?: dog.humansRelations) == 0 ? 'selected' : '' }}>Przyjazny</option>
        <option value="1" {{ (old.humanRelation ?: dog.humansRelations) == 1 ? 'selected' : '' }}>Neutralny</option>
        <option value="2" {{ (old.humanRelation ?: dog.humansRelations) == 2 ? 'selected' : '' }}>Agresywny</option>
    </select>
    <label for="human_relations" class="active">Stosunek do ludzi</label>
</div>
{% for error in errors.animalsRelations %}
    <p class="error">{{ error.message }}</p>
{% endfor %}
{% for error in errors.image %}
    <p class="error">{{ error.message }}</p>
{% endfor %}
<div class="field">
    <select name="animals_relations" id="animals_relations" class="validate" required>
        <option value="" disabled selected>Wybierz którąś z opcji</option>
        <option value="0" {{ (old.animalsRelations ?: dog.animalsRelations) == 0 ? 'selected' : '' }}>Przyjazny</option>
        <option value="1" {{ (old.animalsRelations ?: dog.animalsRelations) == 1 ? 'selected' : '' }}>Neutralny</option>
        <option value="2" {{ (old.animalsRelations ?: dog.animalsRelations) == 2 ? 'selected' : '' }}>Agresywny</option>
    </select>
    <label for="animals_relations" class="active">Stosunek do zwierząt</label>
</div>
<div class="field file-field">
    <div class="btn">
        <span>Dodaj zdjęcie</span>
        <input name="image" value="{{ old.image }}" type="file">
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
    </div>
</div>
<p>
    <input type="checkbox" name="vaccinated" {{ (old.vaccinated ?: dog.vaccinated) ? 'checked' : '' }} id="vaccinated">
    <label for="vaccinated">Szczepiony</label>
</p>
<p>
    <input type="checkbox" name="without-dog-lead" {{ (old.withoutDogLead ?: dog.withoutDogLead) ? 'checked' : '' }} id="without_dog_lead">
    <label for="without_dog_lead">Może być spuszczany ze smyczy</label>
</p>
{% for error in errors.about %}
    <p class="error">{{ error.message }}</p>
{% endfor %}
<div class="field m12">
    <textarea name="about" id="about" rows="10" class="materialize-textarea" length="1000" required>{{ old.about ?: dog.about }}</textarea>
    <label for="about">O psiaku</label>
</div>
<h3>Informacje o wyprowadzaniu</h3>
{% for error in errors.phone %}
    <p class="error">{{ error.message }}</p>
{% endfor %}
<div class="field m12">
    <input type="tel" name="phone" id="phone" class="validate" value="{{ old.phone ?: dog.phone }}" required>
    <label for="phone">Numer telefonu</label>
</div>
<div id="map" class="map"></div>
{% for error in errors.coordinates %}
    <p class="error">{{ error.message }}</p>
{% endfor %}
<div class="field m12">
    <input type="text" name="coordinates" value="{{ old.coordinates ?: dog.latitude ~ ', ' ~ dog.longitude }}" id="coordinates">
    <label for="coordinates">Kordynaty <small>(naciśnij na mapie powyżej)</small></label>
</div>