<div class="rating-modal" id="rating-modal" role="dialog">
    <form action="{{ path_for('rating.add') }}" method="post">
        <input type="hidden" name="dog_id" value="{{ dog.id }}">
        <div class="modal-content">
            <h4>Dodaj ocenę</h4>
            <div class="rating-output">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
            <p class="range-field">
                <input type="range" min="1" max="5" value="3" name="rating" id="rating" required>
            </p>
        </div>
        <footer>
            <button type="submit" class="btn waves-effect blue">
                Dodaj
                <i class="material-icons left">add</i>
            </button>
        </footer>
    </form>
</div>