<div class="rating-modal" id="remove-modal" role="dialog">
    <form action="{{ path_for('dog.remove', {id: dog.id}) }}" method="post">
        <input type="hidden" name="_METHOD" value="DELETE">
        <div class="modal-content">
            <h4>Usuwanie psiaka</h4>
            <p>Czy na pewno chcesz usunąć psiaka? Tej operacji nie można cofnąć.</p>
        </div>
        <footer>
            <button type="button" class="btn waves-effect blue" id="close-remove">Powrót bez usuwania</button>
            <button type="submit" class="btn waves-effect red">
                Usuń
                <i class="material-icons left">delete</i>
            </button>
        </footer>
    </form>
</div>